{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="h1">Nos compagnies</h1>

    <div class="">
        {% for c in companies %}
        <div class="card bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header"> <span class="text-uppercase text-bold">  {{ c.companyName }} </span> - {{ c.activityArea }}</div>
            <div class="card-body">
              <p class="card-text"> {{ c.address }} </p>
              <p class="card-text"> {{ c.zipcode }} </p>
              <h5> {{ c.city }} </h5>
            </div>
        </div>
        {% endfor %}        
    </div>
    
</div>
{% endblock %}
