{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class="mt-5">
    
        <h1>User index</h1>    

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Company</th>
                    {# <th>Password</th> #}
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    {# <td>{{ user.password }}</td> #}
                    
                    <td>
                        
                        {% if user.company is same as null %}
                        Ø 
                        {% else %}                       
                            {{ user.company.companyName }}
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('app_crud_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_crud_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_crud_user_new') }}">Create new</a>
    </div>
{% endblock %}
