{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>User</h1>

        

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td> 
                        {% if user.company is same as null %}
                            Ø 
                        {% else %}                       
                            {{ user.company.companyName }}
                        {% endif %} </td>                    
                    </tr>
            </tbody>
        </table>

        <a href="{{ path('app_crud_user_index') }}" >back to list</a>

        <a href="{{ path('app_crud_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('crud_user/_delete_form.html.twig') }}

    </div>

{% endblock %}
