{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
<div class="mt-5">
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompanyName</th>
                <th>ActivityArea</th>
                <th>Siret</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.companyName }}</td>
                <td>{{ company.activityArea }}</td>
                <td>{{ company.siret }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.zipcode }}</td>
                <td>{{ company.city }}</td>
                <td>
                    <a href="{{ path('app_crud_company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('app_crud_company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_crud_company_new') }}">Create new</a>

</div>
   
{% endblock %}
