{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ company.companyName }}</td>
            </tr>
            <tr>
                <th>ActivityArea</th>
                <td>{{ company.activityArea }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ company.siret }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ company.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ company.city }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_crud_company_index') }}">back to list</a>

    <a href="{{ path('app_crud_company_edit', {'id': company.id}) }}">edit</a>

    {{ include('crud_company/_delete_form.html.twig') }}
{% endblock %}
