	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.css">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">EASYPICKY</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_home') }}">🏚️ Home
						<span class="visually-hidden">(current)</span>
					</a>
					</li>

					{% if app.user is same as null  %}

						<li class="nav-item">
							<a class="nav-link active" href="{{ path('app_login') }}">🖥️ Login</a>                   
						</li>  

					{% elseif app.user.roles[0] is same as "ROLE_ADMIN" %}
						<li class="nav-item">							
							<a class="nav-link active" href="{{ path('app_dashboard') }}">💭 Dashboard </a>                   
						</li>  
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">💾 Data</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('app_crud_user_index') }}">CRUD User</a>
								<a class="dropdown-item" href="{{ path('app_crud_company_index') }}">CRUD Companies</a>                      
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('app_logout') }}">🏖️ Logout</a>                   
						</li> 

					{% elseif app.user.roles[1] is same as "ROLE_USER" %}

						<li class="nav-item">
							<a class="nav-link active" href="https://localhost:8000/api/companies/{{app.user.company.id}}">🚀 API </a>                   
						</li> 
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('app_logout') }}">🏖️ Logout</a>                   
						</li> 

					{% endif %}

				</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	</body>
	</html>

	